@{ 
    ViewBag.Title = "Заказ подтверждён";
}

<div>
    <h2>@ViewBag.Title</h2>

    <p>Заказ @ViewBag.OrderId сформирован и в скором времени будет обработан</p>

    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>